.event-card {
  display: flex;
  padding: 2em;
  width: 100%;
  margin-bottom: 1em;
  border-radius: $card-border-radius;
  box-shadow: $drop-shadow;
  background-color: $panel;
}

.date-col {
  display: flex;
  justify-content: center;
  padding-right: 2em;
  width: 6em;
  height: 100%;
}

.cal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 4em;
  width: 4em;
  border-radius: $card-border-radius;

  box-shadow: $drop-shadow;
  background-color: $lighter;
}

.cal-month {
  display: block;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2em;
  color: $light;
  text-align: center;
}

.cal-date {
  display: block;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.2em;
  color: $light;
  text-align: center;
}

.details-col {
  flex: 1;
  height: 100%;
}

.event-type {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.4em;
}

.event-card__h2--workshop {
  color: $workshop;
}
.event-card__h2--activity {
  color: $activity;
}
.event-card__h2--tech_talk {
  color: $tech-talk;
}
.event-card__h2--default {
  color: $default-event;
}

.event-title {
  font-size: 1.5em;
  font-weight: 700;
}

.event-time {
  font-size: 0.8em;
  font-weight: 300;
}

.event-desc {
  font-size: 0.8em;
  font-weight: 400;
  color: $light;
}

.event-bottom-row {
  display: flex;
  flex-wrap: wrap;
}

.event-related-text {
  font-size: 0.8em;
  font-weight: 700;
  color: $light;
}

.related-pill {
  background-color: $lighter;
  color: $light;
  font-size: 0.8em;
  padding: 0.5em 1em;
  margin: 0 1em 1em 0;
  border-radius: 100em;
}

.attend-button-container {
  flex: 1;
}

.attend-button {
  float: right;
}

.presenter-pfp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.5em;
  border-radius: 100em;
  box-shadow: $drop-shadow;
}

.default-presenter-pfp {
  background-color: $lighter;
  color: $light;
}

.pfp-color-workshop {
  background-color: $workshop;
  color: #ffffff;
}

.pfp-color-activity {
  background-color: $activity;
  color: #ffffff;
}

.pfp-color-tech_talk {
  background-color: $tech-talk;
  color: #ffffff;
}
