#side-nav {
  height: 100vh;
  width: 15em;
  padding: 3em 2em;
  background-color: $panel;
  text-align: center;
}

#side-nav__img--pfp {
  height: 6em;
  width: 6em;
  margin-top: 2em;
  border-radius: 100em;
  border: 0.5em solid $lighter;
  box-shadow: $drop-shadow;
}

#side-nav__h1--username {
  font-size: 1.2em;
  font-weight: 700;
  margin: 1em 0 2em 0;
}

.nav-link {
  padding: 1em 2em;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  color: $link;
  font-weight: 400;
  text-align: left;
  border-radius: $card-border-radius;
}

.nav-link:hover {
  box-shadow: $drop-shadow;
}

.selected {
  background-color: $primary;
  color: #ffffff;
}

.side-nav__img--nav-icon {
  margin-right: 1em;
}
