$panel: #ffffff;
$background: #f6f7fd;
$primary: #855ec5;
$workshop: #1bb5f8;
$activity: #f81b6a;
$tech-talk: #5440d6;
$default-event: #855ec5;
$warn: #f15252;

$light: #9f9f9f;
$lighter: #f2f2f2;

$card-border-radius: 1em;
$button-border-radius: 10em;
$drop-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);

$event-filter-alpha: 0.5;
