#login__div--login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#login__div--login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25em;
  height: 30em;
  padding: 3em;
  border-radius: $card-border-radius;
  box-shadow: $drop-shadow;
  background-color: $panel;
}

#login__h1--logo {
  height: 1em;
  margin-bottom: 1em;
}

#login__span--login-button {
  width: 100%;
}

#login__span--login-error {
  margin-top: 1em;
  text-align: left;
  color: $warn;
  font-weight: 700;
}
