body {
  background-color: $background;
}

#router-container {
  display: flex;
}

#page-window {
  height: 100vh;
  flex-grow: 1;
}

.dashboard__div--page {
  height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2em;
}

.dashboard__div--inner-container {
  width: 50em;
}
