.nav-link {
  padding: 2em;
  text-decoration: none;
}

#router-container {
  display: flex;
}

#side-nav {
  height: 100vh;
  width: 15em;
  padding: 5em 2em;

  text-align: center;
}

#page-window {
  height: 100vh;
  flex-grow: 1;
}
