.event-filter__card {
  display: flex;
  width: 10em;
  margin-bottom: 1em;
  border-radius: $card-border-radius;
  box-shadow: $drop-shadow;
  background-color: $panel;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 1s;
}

.event-filter__card-color {
  width: 100%;
  padding: 2em;
  border-radius: $card-border-radius;
  box-shadow: $drop-shadow;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
}

.event-filter__div--all {
  background-color: rgba($primary, $event-filter-alpha);
}

.event-filter__div--workshop {
  background-color: rgba($workshop, $event-filter-alpha);
}

.event-filter__div--activity {
  background-color: rgba($activity, $event-filter-alpha);
}

.event-filter__div--tech_talk {
  background-color: rgba($tech-talk, $event-filter-alpha);
}
